body
{
    opacity: 1;
}

.tc_widget
{
    font-family: Arial, sans-serif
}
.tc_quarter
{
    background-color: #00ffff;
    color: black;
}
.tc_half
{
    background-color: #00ff00;
    color: black;
}
.tc_double
{
    background-color: #ff0000;
    color: white;
}
.tc_quad
{
    background-color: #660000;
    color: white;
}
.tc_none
{
    background-color: black;
    color: white;
}
.tc_std
{
    background-color: white;
    color: black;
}
.tc_data
{
    text-align: center;
    border-right: solid 1px #CCC;
}
.tc_entry_table
{
    border-collapse: collapse;
    border: 1px solid #CCC;
    /*box-sizing: border-box;*/
}
.tc_table_title
{
    border-right: solid 1px black;
    padding: 0 10px;
}